html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}
nav {
    margin-bottom: 20px;
}

.bubble-row {
    border: 3px solid green;
}
.bubble-spacer {
    width:10px;
    float: right;
}
